.contents_box{
	margin-left: 3%;
	padding-bottom:10%;
	font-size: 16px;
}

.small_contents_box{
	margin-left: 3%;
	padding-bottom:5%;
	font-size: 14px;
}

.minimal_contents_box{
	padding-top: 1%;
	padding-bottom:2%;
	font-size: 16px;
	font-style: italic;
}

.inner_table_font{
	font-size: 12px;
}

.table_content{
	padding-top: 10px;
	padding-bottom: 10px;
}

.table_content table .header{
	background-color: #ffffb6;
	font-weight: bolder;
}

.explanation_blackbox{
	background-color: #000;
	color: #ffffb6;
	font-size: 16px;
	border-radius: 4px;
	padding: 5px 5px 5px 5px;
	margin-top: 25px;
}

.explanation_blackbox .text{
	padding: 5px 5px 5px 5px;
}

.explanation_blackbox .text span{
	font-size: 14px;
	padding-left: 5px;
}

.summary_list_box div{
	padding-bottom: 5px;;
}

.intro_box{
	background-color: #ffffff;
	color: #000;
	border: solid 1px #bfbfbf;
	border-radius: 4px;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	margin-bottom: 25px;
}

.intro_box .text{
	padding: 5px 5px 5px 5px;
}

.intro_bot .number_icon{
	font-size: 18px;
}

/* 패딩 및 마진 옵션 CSS */
.pl5{
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl15 {
	padding-left: 15px;
}
.pr5{
	padding-right: 5px;
}
.pr10{
	padding-right: 10px;
}
.pr15{
	padding-right: 15px;
}

.ml5{
	margin-left: 5px;
}
.ml10{
	margin-left: 10px;
}
.ml15{
	margin-left: 15px;
}
.mr5{
	margin-right: 5px;
}
.mr10{
	margin-right: 10px;
}
.mr15{
	margin-right: 15px;
}