.main_contents_box{

}
.contents_box{
	margin-left: 3%;
	padding-bottom:10%;
	font-size: 16px;
}
.small_contents_box{
	margin-left: 3%;
	padding-bottom:5%;
	font-size: 14px;
}
.summary_text{
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom:5%;
	font-size: 14px;
	font-style: italic;
}
.inner_table_font{
	font-size: 12px;
}